[build-system]
requires = ["setuptools>=64", "cmake>=3.17", "ninja", "pybind11[global]"]
build-backend = "setuptools.build_meta"

[project]
name = "nvidia-cudnn-frontend"
dynamic = ["version"]
description = "CUDNN FrontEnd python library"
readme = "README.md"
requires-python = ">=3.7"
license = {text = "NVIDIA Proprietary Software"}
classifiers = [
    "Programming Language :: Python :: 3",
]

[tool.setuptools]
packages = ["cudnn", "include"]
package-dir = {"" = "python", "include" = "include"}
include-package-data = true

[project.urls]
"Homepage" = "https://github.com/nvidia/cudnn-frontend"
"Bug Tracker" = "https://github.com/nvidia/cudnn-frontend/issues"

[tool.setuptools.dynamic]
version = {attr = "cudnn.__version__"}

[tool.setuptools.package-data]
include = ["**/*"]